    /* Add CSS styling here */
    
    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video {
        margin: 0;
        padding: 0;
        /* border: 0;   */
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    
    * {
        box-sizing: border-box;
        /*this rule says, if I give an element a width I want it to respect that width - if I add padding or a border, apply it within the width given not in addition to it*/
        /* border:1px solid grey; */
        max-width: 100%;
        /* border: 1px solid red; */
        /*this says you can never be bigger than your parent*/
    }
    /*General Styles*/
    
    html {
        font-size: 62.5%;
    }
    
    body {
        font-size: 1.6rem;
        line-height: 1.5;
        font-family: 'Roboto Mono', monospace;
        color: #4F4F4F;
    }
    
    h1 {
        font-family: 'Chelsea Market', cursive;
        font-size: 5rem;
    }
    
    span {
        font-weight: bold;
    }
    
    a {
        text-decoration: none;
        color: #4F4F4F;
    }
    
    section {
        padding: 4% 0;
    }
    /* nav section */
    
    nav {
        padding: 2% 0;
        display: flex;
        justify-content: space-between;
    }
    
    nav h2 {
        width: 20vw;
        /* height: 5vh; */
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bolder;
        font-size: 4rem;
    }
    
    .links {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45vw;
    }
    
    nav .navbar {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        width: 20vw;
        height: 6vh;
        font-size: 2.2rem;
    }
    /* banner section */
    
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 70vh;
    }
    
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2% 0;
        width: 80%;
        height: 60vh;
        background-image: url('https://app.inspiresproject.com/img/bg-homepage.jpg');
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
    }
    
    .name-link {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        height: 30vh;
        width: 35%;
    }
    
    .name-link h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 15vh;
    }
    
    .name-link .banner-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 8vw;
        height: 6vh;
        border: 2px solid red;
        border-radius: 10%;
    }
    /* gallery section */
    
    .gallery {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        justify-content: space-evenly;
        width: 100%;
    }
    
    .gallery div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        width: 30%;
        height: 50vh;
        /* padding: 2% 0; */
        margin: 2% 0;
    }
    
    div img {
        width: 100%;
        margin: 2% 0;
    }
    
    .gallery-link {
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        font-weight: bold;
        font-size: 2.5rem;
    }
    /* footer section */
    
    footer {
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
        align-items: center;
        flex-flow: column nowrap;
        width: 100%;
        height: 35vh;
        background-color: #4f4f4f;
    }
    
    .contact-me {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10vw;
        height: 8vh;
    }
    
    footer .social {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        justify-content: space-evenly;
        width: 20%;
        height: 12vh;
    }
    
    .contact-me a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.5rem;
        width: 100%;
        height: 100%;
        color: black;
        background: beige;
        border: 1px solid black;
        border-radius: 10%;
    }
    
    .social a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.5rem;
        width: 35%;
        height: 15vh;
        /* color: black;
    background: beige; */
    }
    
    .fa-github {
        background: url(/style/github+icon-1320168274457504277.png);
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
    }
    
    .fa-linkedin {
        background: url(/style/49408.png);
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
    }